apps/frontend/node_modules
apps/frontend/dist
apps/frontend/dist-ssr
apps/frontend/*.local

apps/backend/node_modules
apps/backend/dist
apps/backend/dist-ssr


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
