.vercel
node_modules
dist
./dist
dist-ssr
public
./public
tsconfig.tsbuildinfo
./tsconfig.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
